#header-nav {
	background-color: #fcd12a; 
	border-radius: 0;
	border: 0;
	height: 125px;
}

.navbar-header h1 {
	font-family: 'Algerian', sans-serif;
	padding-right: 100px;
	padding-top: 0px;
}


#nav-list {
	text-align: center;
	margin-top: 15px;
	font-size: 1.5em;
}

#collapsable-nav{
	background-color: #d6cfc7;
}

.text { 
	background-color: #fa8072;
	
}

.text-title {
	text-align: center;
	font-size: 200%;
	padding: 15px;
}

p {
	font-size: 1.5em;
}

@media (min-width: 768px) {
	#collapsable-nav{
		display: none !important;
	}
}

@media (max-width: 767px) {
	.navbar-header h1 {
		margin-bottom: 0px;
		padding-left: 15px;
		padding-right: 0px;
		width: 80%;
	}
}
